<div>
  <div>
    <div>
      <div>
        
      </div>
      <div>
        <img loading="lazy" alt="image" class="">
      </div>
      <div>
        
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}