.flex-checkmarks--father {
  margin: 2.4em 0;
  padding: 2em;
}

.flex-checkmarks--son {
  gap: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-checkmarks--element {
  width: 50%;
}

.flex-checkmarks--wallpaper {
  width: 100%;
  height: 100%;
}

.flex-checkmarks--wallpaper-box {
  position: relative;
  overflow: hidden;
  max-height: 
}